@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
  font-family: 'lato';
  font-weight: 300;
  background: aliceblue;
}

header {
  width: 900px;
  margin: 0 auto;
}

main {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999898;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  font-size: 20px;
  color: #989898;
  padding: 20px 80px;
  margin: 0 0 30px;
}

button {
  width: 98%;
  font-size: 75px;
  background: #C23900;
  color: #fff;
  border: none;
  padding: 50px;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #aa3201;
}
input:hover {
  background: #aa3201;
}
button.motivate {
  background: #00c2a5;
  float: left;
}

button.motivate:hover {
  background: #00a68d;
}

.col {
  width: 50%;
  float: left;
}

.button {
  background: #999898;
  color: #fff;
  padding: 20px 40px;
  display: inline-block;
  margin-top: 50px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
}

.button .fa {
  margin-right: 10px;
}

#piechart {
  width: 500px;
  margin: 0 auto;
}
input {
  background: #999898;
  color: #fff;
  padding: 20px 40px;
  display: inline-block;
  margin-top: 50px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
}
.events {
  display:inline;
  }
}
