<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Motivate App</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>
  <main>
  <h1>MOTIV8</h1>
  <a href="/home" class="button"><i class="fa fa-home"></i> Home</a>
  <a href="/events" class="button"><i class="fa fa-list-ul"></i> Events</a>
  <a href="/events/new" class="button"><i class="fa fa-plus"></i> New</a>

<br>
{{#events}}
    <span><a href='/events/{{_id}}/'>{{name}}</a><form class='events' action="/events/{{_id}}/delete" method="post"><input class='x' type="submit" value="X"></span><br>
  {{/events}}
</main>
</body>
</html>
