<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Motivate App</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>
<header>
  <h1>Motiv8</h1>
</header>
<main>
  <p>Did you get motivated?</p>
  <div class="col">
    <form action="/counter" method='POST'>
      <button class="motivate" name='isMotivated' value='true'><i class="fa fa-check"></i></button>
    </form></div>
  <div class="col">
    <form action="/counter" method='POST'>
      <button name='notMotivated' value='false'><i class="fa fa-times"></i></button>
    </form>
  </div>
  <a href="/data" class="button"><i class="fa fa-line-chart"></i> View my data</a>
  <a href="/events" class="button"><i class="fa fa-list-ul"></i> View my events</a>

</main>

</body>
</html>
